%table.tb
	%thead
		%tr
			%th
				Registered Classes
			%th
				Start Date
	%tbody
		-if @class_rooms
			-@class_rooms.each do |class_room|
				%tr
					%td= link_to class_room.name, classroom_path(class_room)
					%td=class_room.startdate
