-if @classmembers
	%h2 Class members
	%table.tb
		%thead
			%tr
				%th First name
				%th Last name
				%th Email
				%th Registration
		%tbody
			-@classmembers.each do |member|
				%tr
					%td= link_to member.user.first_name, entries_on_classroom_statistics_path(@classroom, member.user)#:param1=>@classroom, :param2=>member.user)
					%td= member.user.last_name
					%td= member.user.email
					-if member.classregistration_type == Classregistration.admin_type
						%td Admin
					-elsif member.classregistration_type == Classregistration.student
						%td Student
					-else
						%td= link_to "Click to approve", edit_classroom_path(:param1 => @classroom, :param2 => member.user)
-else
	=link_to 'Entry', classroom_virtueentries_path(@classroom)
