Statistics for
=link_to @classroom.name, classroom_path(@classroom)

:javascript
	var stats = #{@violations.to_json};

%div{:id=>"chart_div", :style=>"width:600px; height:400px;"}
- content_for :javascripts do
	= javascript_include_tag 'statistics'
