%h3
  Statistics for
  =link_to @classroom.name, classroom_path(@classroom)

:javascript
  var stats = #{@violations.to_json};
  var tit = 'Progress'

%div#chart_div
- content_for :javascripts do
  = javascript_include_tag 'statistics'
