!!! 5
%html
  %head
    %title 13Virtues Tracker!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
 
  %body
    - if session[:user]
      =link_to 'Logout '+session[:user].name+' '+session[:user].email, '/logout'#logins_path, :method=>:destroy

    - if flash[:msg]
      =flash[:msg]

    #main
      = yield
